body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative; 
    min-height: 100vh; 
}

header {
    background-color: #4145e7;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px; 
    display: block; 
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 10px; 
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.articulos {
    margin-top: 20px;
}

article {
    float: left; 
    width: calc(29% - 24px);
    margin-right: 20px; 
    margin-bottom: 20px; 
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    font-size: 12px;
}

footer {
    background-color: #4145e7;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed; 
    width: 100%; 
    bottom: 0; 
}
